.form-container {

    .repeat-control {
        border: solid 1px #eee;
        padding: 20px;
        border-radius: 10px;
        position: relative;
        margin-bottom: 15px;

        .remove {
            position: absolute;
            right: 10px;
            top: 10px;
            width: 24px;
            border: none;
            padding: 0;
            cursor: pointer;

            svg {
                width: 100%;
                height: auto;
                fill: red;
            }
        }
    }
}

.hight-line {
    background-color: #ffe390;
    color: red;
    font-weight: bold;
}

.btn-add-question {

}

.tools {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;

    .buttons {

        .icon {

            i {
                font-size: 22px;
            }
        }
    }
}

#mockup {
    max-width: 50vw;
    overflow: auto;
    word-break: break-all;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.small-label {
    background: #222;
    color: #FFF;
    border-radius: 4px;
    padding: 4px;
    margin-top: 20px;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
}
